main {
  padding: 2rem;
  background-color: #f9f9f9;
}

main section {
  margin-bottom: 2rem;
}

main section h1,
main section h2 {
  margin-top: 0;
  color: #333;
}

main section p {
  color: #666;
}
